.header {
  display: flex;
}

.text-blue {
  color: blue;
}

.main {
  display: flex;
  flex-direction: row;
}

.main-content {
  background-color: aquamarine;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: aliceblue;
  min-height: 100%;
  padding: 10px;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navbar-item {
  border-width: 2px;
  border-style: solid;
}
