.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flexRowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
